body {
  font-family: "Poppins", sans-serif;
}

.hidden {
  display: none;
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.card {
  border-radius: 10px;
}

.card-title {
  font-size: 1.5rem;
  color: #007bff;
}
